

.reviews-header{
font-family: 'Montserrat';
font-weight: 600;
font-size: 24px;
line-height: 1.17;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #FD9222;
margin-bottom: 74px;
}

.reviews-header span{
    color: #111111;
}

.reviews-item-title{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1.33;
text-align: center;
color: #111111;
margin-bottom: 24px;
}

.reviews-item-text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.29;
text-align: center;
letter-spacing: -0.02em;
color: rgba(17, 17, 17, 0.7);
text-align:center;
}

.swiper{
    overflow: unset;
}


.reviews-list-item{
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
    border-radius: 15px;
    position: relative;
    padding: 56px 18px 42px;
    margin: 0;
    max-width: 335px;
    height: unset;
}

.reviews-item-img{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;
}

.reviews-btn{
    display: block;
    border: 1px solid #FD9222;
    border-radius: 100px;
    padding: 12px 28px;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #111111;
    margin: 0 auto;
    margin-top: 77px;
}

.reviews-list{
display: flex;
justify-content: center;
gap: 28px;
min-width: 0;
}

.swiper-pagination-bullet{
    width: 13px;
    height: 13px;

    background: rgba(17, 17, 17, 0.1);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 28px;
    height: 13px;

    border-radius: 10px;

    background: #FD9222;
}

.slider-pagination{
    display: flex;
    justify-content: center;
}

.swiper-pagination{
    display: block;
    margin-top: 31px;
}

.reviews-slid{
    background: #FFFFFF;
        border: 1px solid rgba(17, 17, 17, 0.1);
        box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
        border-radius: 15px;
        position: relative;
        padding: 56px 18px 42px;
        margin: 0;
        max-width: 335px;
        height: unset;
        margin-bottom: 31px;
}

.reviw-text{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.29;
text-align: center;
letter-spacing: -0.02em;
color: rgba(17, 17, 17, 0.7);
text-align: center;
}



.container-reviews{
    overflow: hidden;
}


.reviews-btn:is(:hover, :focus){
color: #FFFFFF;
background-color: #FD9222;
}

.reviews-swiper__wrap{
    display: flex;
}

.reviews{
    padding-bottom: 77px;
}






