<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/advantages.css">
</head>

<body>
    <section class="advantages">
        <div class="container">
            <h2 class="visually-hidden">advantages</h2>
            <ul class="advantages-list list">
                <li class="advantages-item after">
                    <div class="advantages-icon">
                        <svg class="part-card-icon" width="32px" height="32px">
                            <use href="adv-icon/advantages-defs.svg#icon-group"></use>
                        </svg>
                    </div>
                    <h3 class="advantages-subtitle">Unsurpassed taste</h3>
                    <p class="advantages-text">
                        Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a
                        decadent experience that
                        simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and
                        discover a new level of
                        chocolate bliss.
                    </p>
                </li>
                <li class="advantages-item after">
                    <div class="advantages-icon">
                        <svg class="part-card-icon" width="32px" height="32px">
                            <use href="adv-icon/advantages-defs.svg#icon-coin"></use>
                        </svg>
                    </div>
                    <h3 class="advantages-subtitle">Affordable price</h3>
                    <p class="advantages-text">
                        Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of
                        affordable treats.
                        Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality.
                        Browse our selection and
                        indulge in affordable luxury today.
                    </p>
                </li>
                <li class="advantages-item">
                    <div class="advantages-icon">
                        <svg class="part-card-icon" width="32px" height="32px">
                            <use href="adv-icon/advantages-defs.svg#icon-spoon"></use>
                        </svg>
                    </div>
                    <h3 class="advantages-subtitle">Own production</h3>
                    <p class="advantages-text">
                        We take pride in our own production process, ensuring that every step is carefully crafted to
                        perfection. From selecting
                        the finest ingredients to handcrafting each piece, our attention to detail is evident in every
                        bite.
                    </p>
                </li>

            </ul>
        </div>
    </section>
</body>

</html>