<section class="section section-fallback-our-produts">
  <div class="container container-fallback-our-produts">
    <h2 class="title-fallback-our-produts">
      Our <span class="decoration-for-first-word">pRODUCTS</span>
    </h2>
    <ul class="list-fallback-our-produts">
      <li class="shape-fallback-our-produts chocolate-1">
        <img
          class="photo-fallback-our-produts"
          srcset="../images/our-produts/image1@2x.jpg 2x"
          src="../images/our-produts/image1.jpg"
          alt="dark chocolate orange"
          width="230"
        />
        <h3 class="name-fallback-our-produts">orange</h3>
        <p class="text-fallback-our-produts">Dark chocolate</p>
        <buttom class="btn-fallback-our-produts">45 UAH</buttom>
      </li>
      <li class="shape-fallback-our-produts chocolate-2">
        <img
          class="photo-fallback-our-produts"
          srcset="../images/our-produts/image2@2x.jpg 2x"
          src="../images/our-produts/image2.jpg"
          alt="milk chocolate apple and cramberry"
          width="230"
        />
        <h3 class="name-fallback-our-produts">APPLE&CRANBERRY</h3>
        <p class="text-fallback-our-produts">Milk chocolate</p>
        <buttom class="btn-fallback-our-produts">50 UAH</buttom>
      </li>
      <li class="shape-fallback-our-produts chocolate-3">
        <img
          class="photo-fallback-our-produts"
          srcset="../images/our-produts/image3@2x.jpg 2x"
          src="../images/our-produts/image3.jpg"
          alt="dark chocolate lime and sea salt"
          width="230"
        />
        <h3 class="name-fallback-our-produts">lime&sea salt</h3>
        <p class="text-fallback-our-produts">Dark chocolate</p>
        <buttom class="btn-fallback-our-produts">66 UAH</buttom>
      </li>
      <li class="shape-fallback-our-produts chocolate-4">
        <img
          class="photo-fallback-our-produts"
          srcset="../images/our-produts/image4@2x.jpg 2x"
          src="../images/our-produts/image4.jpg"
          alt="dark chocolate pineapple"
          width="230"
        />
        <h3 class="name-fallback-our-produts">pineapple</h3>
        <p class="text-fallback-our-produts">Dark chocolate</p>
        <buttom class="btn-fallback-our-produts">54 UAH</buttom>
      </li>
      <li class="shape-fallback-our-produts chocolate-5">
        <img
          class="photo-fallback-our-produts"
          srcset="../images/our-produts/image5@2x.jpg 2x"
          src="../images/our-produts/image5.jpg"
          alt="milk chocolate classic"
          width="230"
        />
        <h3 class="name-fallback-our-produts">Classic</h3>
        <p class="text-fallback-our-produts">Milk chocolate</p>
        <buttom class="btn-fallback-our-produts">45 UAH</buttom>
      </li>
      <li class="shape-fallback-our-produts chocolate-6">
        <img
          class="photo-fallback-our-produts"
          srcset="../images/our-produts/image6@2x.jpg 2x"
          src="../images/our-produts/image6.jpg"
          alt="milk chocolate honey"
          width="230"
        />
        <h3 class="name-fallback-our-produts">honey</h3>
        <p class="text-fallback-our-produts">Milk chocolate</p>
        <buttom class="btn-fallback-our-produts">50 UAH</buttom>
      </li>
      <li class="shape-fallback-our-produts chocolate-7">
        <img
          class="photo-fallback-our-produts"
          srcset="../images/our-produts/image7@2x.jpg 2x"
          src="../images/our-produts/image7.jpg"
          alt="dark chocolate roasted fruits"
          width="230"
        />
        <h3 class="name-fallback-our-produts">Roasted fruits</h3>
        <p class="text-fallback-our-produts">Dark chocolate</p>
        <buttom class="btn-fallback-our-produts">66 UAH</buttom>
      </li>
      <li class="shape-fallback-our-produts chocolate-8">
        <img
          class="photo-fallback-our-produts"
          srcset="../images/our-produts/image8@2x.jpg 2x"
          src="../images/our-produts/image8.jpg"
          alt="white chocolate classic"
          width="230"
        />
        <h3 class="name-fallback-our-produts">Classic</h3>
        <p class="text-fallback-our-produts">White chocolate</p>
        <buttom class="btn-fallback-our-produts">54 UAH</buttom>
      </li>
    </ul>
    <ul class="list-circle-fallback-our-produts">
      <li class="circle-fallback-our-produts-1"></li>

      <li class="circle-fallback-our-produts"></li>
      <li class="circle-fallback-our-produts"></li>
      <li class="circle-fallback-our-produts"></li>
      <li class="circle-fallback-our-produts"></li>
      <li class="circle-fallback-our-produts"></li>
      <li class="circle-fallback-our-produts"></li>
    </ul>
  </div>
</section>
