<footer class="section section-footer">
  <div class="container container-footer">
    <div class="top-part-footer">
      <p class="title-footer">
        <span class="decoration-for-first-word">Chocolate</span> a delicious
        cure for a bad day
      </p>
      <div class="contacts-and-icons">
        <ul class="contacts-footer">
          <li class="title-contacts-footer">Contact us</li>
          <li>
            <a class="tel-footer link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a class="email-footer link" href="mailto:simplychoc@gmail.com"
              >simplychoc@gmail.com</a
            >
          </li>
        </ul>
        <ul class="links-footer">
          <li class="link-instagram">
            <a class="icon-links-footer" href="">
              <svg class="icon-instagram" width="20" height="20">
                <use href="../img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="link-twitter">
            <a class="icon-links-footer" href="">
              <svg class="icon-twitter" width="20" height="20">
                <use href="../img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navigation-footer">
      <ul class="list-navigation-footer">
        <li class="list-name-sections-footer list">
          <a class="name-sections-site" href="#">Home</a>
        </li>
        <li class="list-name-sections-footer list">
          <a class="name-sections-site" href="">How it’s made?</a>
        </li>
        <li class="list-name-sections-footer list">
          <a class="name-sections-site" href="">Our products</a>
        </li>
        <li class="list-name-sections-footer list">
          <a class="name-sections-site" href="">Top sellers</a>
        </li>
        <li class="list-name-sections-footer list">
          <a class="name-sections-site" href="">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
