<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" class="header-logo-link"
        ><div class="header-logo"><span>SIMPLY </span>CHOCOLATE</div>
        <svg class="header-logo-icon" width="21" height="21">
          <use href="./images/header-img.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href="#how_it's_made?" class="nav-link">How it's made?</a>
        </li>
        <li class="nav-item">
          <a href="#our_products" class="nav-link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#top_sellers" class="nav-link">Top sellers</a>
        </li>
        <li class="nav-item">
          <a href="#chocolate_is_loved" class="nav-link">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <div class="header-social">
      <ul class="header-social-list">
        <li class="header-social-item">
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg class="header-social-icon" width="22" height="22">
              <use href="./images/header-img.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            href="https://twitter.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><svg class="header-social-icon" width="20" height="20">
              <use href="./images/header-img.svg#icon-twitter"></use></svg
          ></a>
        </li>
      </ul>
    </div>

    <!-- --------Mobile menu----------- -->
    <button type="button" class="mobile-menu-open js-open-menu">
      <svg class="menu-open-icon" width="21" height="14">
        <use href="./images/header-img.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu js-menu-container">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close-btn js-close-menu">
        <svg class="mobile-menu-close-icon" width="12" height="12">
          <use href="./images/header-img.svg#menu-icon-close"></use>
        </svg>
      </button>
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="./index.htm" class="mobile-menu-link current link">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#how-its-made?" class="mobile-menu-link link"
            >How it's made?</a
          >
        </li>
        <li class="mobile-menu-item">
          <a href="#our-products" class="mobile-menu-link link">Our products</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#top-sellers" class="mobile-menu-link link">Top sellers</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#chocolate-is-loved" class="mobile-menu-link link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
      <div class="mobile-menu-social">
        <ul class="mobile-menu-social-list">
          <li class="mobile-menu-social-item">
            <a
              href="https://www.instagram.com"
              class="mobile-social-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><svg class="mobile-menu-social-icon" width="22" height="22">
                <use href="./images/header-img.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-menu-social-item">
            <a
              href="https://twitter.com"
              class="mobile-social-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
              ><svg class="mobile-menu-social-icon" width="20" height="20">
                <use href="./images/header-img.svg#icon-twitter"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
