<section class="hero">
  <div class="container">
    <h2 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>

    <div class="hero-content">
      <div class="buttons-hero">

        <button class="button-hero-main" type="button" data-modal-buy-open>
          Buy Now
        </button>

        
        <a href="#how-its-work">
          <button class="button-hero-sec" type="button">How it’s made</button>
        </a>
      </div>

            <button class="hero-nav-btn" type="button">
              <span>scroll down</span>
              <div class="hero-button-icon">
                <svg class="hero-icon">
                  <use class="hero-icon-item" href="./images/hero/symbol-defs.svg#icon-arrow"></use>
                </svg>
              </div>
            </button>

      </div>
    
    </div>
  </div>
</section>
