<div class="modal-review-bd is-hidden" data-modal>
    <div class="modal-review-conteiner">
        <button type="button" class="modal-review-close" data-modal-close></button>
        <h2 class="modal-review-title"></h2>
        <form class="modal-review-form">

            <input class="modal-review-input" type="text"  name="username">

            <input class="modal-review-input" type="email" name="email">

            <input class="modal-review-input" type="tel" name="tel">

            <textarea class="modal-review-text" name="coment"></textarea>

            <button type="submit" class="modal-review-sub"></button>

        </form>
    
    </div>
</div>