<div class="modal-reviews-bd is-hidden" data-modal>
    <div class="modal-reviews-conteiner">
        <button type="button" class="modal-reviews-close" modal-close>
            <svg width="12" height="12" class="modal-reviews-close-svg" >
                <use href="./images/header-img.svg#menu-icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-reviews-title">leave a review
        about <span>our chocolate</span></h2>
        <form class="modal-reviews-form">

            <input class="modal-reviews-input" type="text"  name="username">

            <input class="modal-reviews-input" type="email" name="email">

            <input class="modal-reviews-input" type="tel" name="tel">

            <textarea class="modal-reviews-text" name="coment"></textarea>

            <button type="submit" class="modal-reviews-sub"></button>

        </form>
    
    </div>
</div>