
  <div class="modal-explorer is-hidden" explorer-data-modal>
    <div class="modal-explorer-container">
    <div class="modal-explorer-section">
      <button modal-close class="close-modal-explorer" type="button" explorer-modal-close>
        <svg class="close-modal-explorer-icon">
          <use href="./images/header-img.svg#menu-icon-close"></use>
        </svg>
      </button>
    </div>
    <h2 class="modal-explorer-title">Explore our <span class="modal-explorer-title-tablet"><span
          class="modal-explorer-title-sec">new chocolate</span> first!</span>
      <div class="modal-explorer-form">
        <form class="modal-explorer-form-item" action="#">
          <label class="modal-explorer-form-item" for="email">
            <input type="email" id="email" class="modal-explorer-input" name="email" placeholder="Enter your email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required />
          </label>
        </form>
        <button class="modal-explorer-btn btn" type="submit">Submit</button>
        </div>
      </div>

  </div>

 