<section class="how-it’s-made">
    <div class="container">
        <div class="text">
            <h2 class="title-how-it’s-made">
                <a href="./Timework.html" class="logo-primary-link">
                    <span class="logo-style">HOW IT’S</span>MADE?</a>
            </h2>
        </div>
        <div class="section-list">
            <div class="photo-blocks list-markers text-blocks section-block">
                <img class="photo" srcset="./images/cofee-1X.jpg, ./images/cofee-2X.jpg" src="images/cofee-1X.jpg"
                    alt="" width="335" />
                <a href="" class="icon-play">
                    <svg class="icon" width="16" height="16">
                        <use href="./css/icon.svg/symbol-defs-play.svg#icon-play"></use>
                    </svg>
                </a>
            </div>
            <div class="section-5">
                <h3 class="list-title">
                    Try our chocolates today and discover the perfect balance of
                    flavor
                </h3>
                <ul class="section-text list-markers">
                    <li class="text-markers">
                        <p class="list-item">
                            Heat the milk in a saucepan without bringing it to a boil. Add
                            sugar and cocoa powder.
                        </p>
                    </li>
                    <li class="text-markers">
                        <p class="list-item">
                            At the same time, prepare a water bath. Melt the butter on it.
                        </p>
                    </li>
                    <li class="text-markers">
                        <p class="list-item">
                            "Mix" the milk mixture and already liquid butter. Mix
                            thoroughly with a silicone spatula so that the mass becomes
                            uniform and silky.
                        </p>
                    </li>
                    <li class="text-markers">
                        <p class="list-item">
                            Heat the mixture over low heat, letting it barely boil.
                        </p>
                    </li>
                    <li class="text-markers">
                        <p class="list-item">
                            Pour the chocolate into special containers (can be replaced
                            with ice molds). Allow to cool and harden.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>