<section class="work">
  <div class="container">
    <div class="work-text">
      <h2 class="work-title">
        <a href="./Timework.html" class="work-logo-primary-link">
          <span class="work-logo-style">HOW IT’S </span>MADE?</a
        >
      </h2>
    </div>
    <div class="work-list">
      <div class="work-photo list-markers work-blocks work-section-block">
        <img
          class="work-photo-coffe"
          srcset="./images/cofee-1X.jpg, ./images/cofee-2X.jpg"
          src="images/cofee-1X.jpg"
          alt=""
          width="335"
        />
        <a href="" class="work-icon-play">
          <svg class="work-icon" width="14" height="15">
            <use class="vector" href="./img/symbol-defs-vector.svg#icon-Vector-1"></use>
          </svg>
        </a>
      </div>
      <div class="work-section">
        <h3 class="work-list-text">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="work-section-text list-markers">
          <li class="work-markers">
            <p class="work-list-item">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="work-markers">
            <p class="work-list-item">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="work-markers">
            <p class="work-list-item">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="work-markers">
            <p class="work-list-item">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="work-markers">
            <p class="work-list-item">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
