<section class="reviews">
    <div class="conteiner">
        <h2 class="reviews-header">chocolate <span>is loved</span></h2>
        <ul class="reviews-list">
            <li class="reviews-list-item">
                <img src="" alt="" class="reviews-item-img">
                <h3 class="reviews-item-title"></h3>
                <p class="reviews-item-text"></p>
            </li>
            <li class="reviews-list-item">
                <img src="" alt="" class="reviews-item-img">
                <h3 class="reviews-item-title"></h3>
                <p class="reviews-item-text"></p>
            </li>
            <li class="reviews-list-item">
                <img src="" alt="" class="reviews-item-img">
                <h3 class="reviews-item-title"></h3>
                <p class="reviews-item-text"></p>
            </li>
        </ul>

        <span class="reviews-slider"></span>
        <span class="reviews-slider"></span>
        <span class="reviews-slider"></span>

        <button class="reviews-btn"></button>

    </div>
</section>