<section class="reviews" id="review">
    <div class="container container-reviews">
        <h2 class="reviews-header">chocolate<span> is loved</span></h2>
        <div class="reviews-swiper">
            <div class="reviews-swiper__wrap swiper-wrapper">
                <div class="reviews-slid swiper-slide">
                    <img width="80" height="80" srcset="./img/Reviews/reviews-img-1-2x.png 2x" src="./img/Reviews/reviews-img-1.png" alt="" class="reviews-item-img">
                    <div class="slid-text-wrap">
                        <h3 class="reviews-item-title">Victoria Dobrzhanska</h3>
                        <p class="reviw-text">
                            I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
                        </p>
                    </div>
                </div>
                <div class="reviews-slid swiper-slide">
                    <img width="80" height="80" srcset="./img/Reviews/reviews-img-2-2x.png 2x" src="./img/Reviews/reviews-img-2.png"
                        alt="" class="reviews-item-img">
                    <div class="slid-text-wrap">
                        <h3 class="reviews-item-title">Nazar Babenko</h3>
                        <p class="reviw-text">
                            This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the
                            chocolate is good.
                        </p>
                    </div>
                </div>
                <div class="reviews-slid swiper-slide">
                    <img width="80" height="80" srcset="./img/Reviews/reviews-img-3-2x.png 2x" src="./img/Reviews/reviews-img-3.png"
                        alt="" class="reviews-item-img">
                    <div class="slid-text-wrap">
                        <h3 class="reviews-item-title">Olena Kampusch</h3>
                        <p class="reviw-text">
                            Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft
                            but crunchy.
                        </p>
                    </div>
                </div>
                <div class="reviews-slid swiper-slide">
                    <img width="80" height="80" srcset="./img/Reviews/reviews-img-4-2x.jpg 2x" src="./img/Reviews/reviews-img-4.jpg"
                        alt="" class="reviews-item-img">
                    <div class="slid-text-wrap">
                        <h3 class="reviews-item-title">Natalia Sus</h3>
                        <p class="reviw-text">
                            The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness
                            level.
                        </p>
                    </div>
                </div>
                <div class="reviews-slid swiper-slide">
                    <img width="80" height="80" srcset="./img/Reviews/reviews-img-5-2x.jpg 2x" src="./img/Reviews/reviews-img-5.jpg"
                        alt="" class="reviews-item-img">
                    <div class="slid-text-wrap">
                        <h3 class="reviews-item-title">Danilo Nottingham</h3>
                        <p class="reviw-text">
                            This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond butter
                            and these chips for a snack.
                        </p>
                    </div>
                </div>
                <div class="reviews-slid swiper-slide">
                    <img width="80" height="80" srcset="./img/Reviews/reviews-img-6-2x.jpg 2x" src="./img/Reviews/reviews-img-6.jpg"
                        alt="" class="reviews-item-img">
                    <div class="slid-text-wrap">
                        <h3 class="reviews-item-title">Irina Tydnyuk</h3>
                        <p class="reviw-text">
                            This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world
                            class 
                        </p>
                    </div>
                </div>

                
            </div>
            <div class="slider-pagination"></div>
        </div>

        <button class="reviews-btn" type="button">Leave a review</button>
    </div>
</section>