
      <section class="top-sellers">
        <div class="container">
          <h2 class="top-sellers-title">
            <span class="section-title">Top </span>Sellers
          </h2>
          <ul class="section-list-img-mobile">
            <li>
              <picture>
                <source
                  srcset="
                    ./images/mobile/img01.jpg    1x,
                    ./images/mobile/img01@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <source
                  srcset="
                    ./images/mobile/img01.webp    1x,
                    ./images/mobile/img01@2x.webp 2x
                  "
                  media="(max-width:767px)"
                  type="image/webp"
                />
                <img
                  class="photo-img1"
                  src="./images/mobile/img01.jpg"
                  alt="desktop photo"
                  width="335"
                />
              </picture>
            </li>
            <li>
              <p id="text" class="mobile-title">
                Crazy enough chocolate originates from a bean just like the
                coffee bean called Cacao. Cacao has been around for thousands of
                years and was first discovered by the Native American tribe
                called the Mayans.
              </p>
            </li>
            <li>
              <picture class="mobile-picture-img2">
                <source
                  srcset="
                    ./images/mobile/img02.jpg    1x,
                    ./images/mobile/img02@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <source
                  srcset="
                    ./images/mobile/img02.webp    1x,
                    ./images/mobile/img02@2x.webp 2x
                  "
                  media="(max-width:767px)"
                  type="image/webp"
                />
                <img
                  class="photo-img2"
                  src="./images/mobile/img02.jpg"
                  alt="desktop photo"
                  width="335"
                />
              </picture>
            </li>
          </ul>
          <ul class="section-list-img-tablet">
            <li>
              <picture>
                <source
                  srcset="
                    ./images/tablet/img01.jpg    1x,
                    ./images/tablet/img01@2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/tablet/img01.webp    1x,
                    ./images/tablet/img01@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/tablet/img01.jpg    1x,
                    ./images/tablet/img01@2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/tablet/img01.webp    1x,
                    ./images/tablet/img01@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <img
                  class="photo-img1"
                  src="./images/tablet/img01.jpg"
                  alt="desktop photo"
                  width="344"
                />
              </picture>
            </li>
            <li>
              <picture>
                <source
                  srcset="
                    ./images/tablet/img02.jpg    1x,
                    ./images/tablet/img02@2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/tablet/img02.webp    1x,
                    ./images/tablet/img02@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/tablet/img02.jpg    1x,
                    ./images/tablet/img02@2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./images/tablet/img02.webp    1x,
                    ./images/tablet/img02@2x.webp 2x
                  "
                  media="(min-width:768px)"
                  type="image/webp"
                />
                <img
                  class="photo-img2"
                  src="./images/tablet/img02.jpg"
                  alt="tablet photo"
                  width="344"
                />
              </picture>
            </li>
          </ul>
          <ul class="section-list-img-desktop">
            <li>
              <picture>
                <source
                  srcset="
                    ./images/desktop/img01.jpg    1x,
                    ./images/desktop/img01@2x.jpg 2x
                  "
                  media="(min-width:1200px)"
                />
                <source
                  srcset="
                    ./images/desktop/img01.webp    1x,
                    ./images/desktop/img01@2x.webp 2x
                  "
                  media="(min-width:1200px)"
                  type="image/webp"
                />
                <img
                  class="photo-img1"
                  src="./images/desktop/img01.jpg"
                  alt="desktop photo"
                  width="368"
                />
              </picture>
            </li>
            <li>
              <picture>
                <source
                  srcset="
                    ./images/desktop/img02.jpg    1x,
                    ./images/desktop/img02@2x.jpg 2x
                  "
                  media="(min-width:1200px)"
                />
                <source
                  srcset="
                    ./images/desktop/img02.webp    1x,
                    ./images/desktop/img02@2x.webp 2x
                  "
                  media="(min-width:1200px)"
                  type="image/webp"
                />
                <img
                  class="photo-img2"
                  src="./images/desktop/img02.jpg"
                  alt="tablet photo"
                  width="368"
                />
              </picture>
            </li>
            <li>
              <picture>
                <source
                  srcset="
                    ./images/desktop/img03.jpg    1x,
                    ./images/desktop/img03@2x.jpg 2x
                  "
                  media="(min-width:1200px)"
                />
                <source
                  srcset="
                    ./images/desktop/img03.webp    1x,
                    ./images/desktop/img03@2x.webp 2x
                  "
                  media="(min-width:1200px)"
                  type="image/webp"
                />
                <img
                  class="photo-img3"
                  src="./images/desktop/img03.jpg"
                  alt="tablet photo"
                  width="368"
                />
              </picture>
            </li>
          </ul>
          <div class="order-block">
            <p class="desktop-tablet-title">
              Crazy enough chocolate originates from a bean just like the coffee
              bean called Cacao. Cacao has been around for thousands of years
              and was first discovered by the Native American tribe called the
              Mayans.
            </p>
            <button class="btn-sale" data-modal-open type="button">
              Buy now
            </button>
          </div>
        </div>
      </section>
