.backdrop{
    z-index: 999999999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        background-image: linear-gradient(rgba(46, 47, 66, 0.4), rgba(46, 47, 66, 0.4));
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





.button {
    padding: 14px 40px;
    border-color: transparent;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17/14);
    background-color: #FD9222;
    color: #FAFAFA;
}

.buy-now-button {
    /* width: 162px; */
    height: 50px;
    color: #FFFFFF;
    background-color: #FD9222;
    transition: backgroung-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}


.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: visibility 250ms linear, 100ms;
}

.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 100ms;
}


.modal {
    position: fixed;
    left: 50%;
    width: 100%;
    max-width: 311px;
    padding: 24px;
    background-color: #FAFAFA;
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .25s linear, .1s;
    overflow-y: scroll;
    max-height: 100%;
    top: 50%;
}

.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    height: 28px;
    width: 28px;
    stroke: #111111;
    border: transparent;
    background-color: #FAFAFA;
}

.icon-close {
    stroke: #111111;
    height: 14px;
    width: 14px;
}

.title-buy {
    color: #FD9222;
}

.modal-title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: calc(28/24);
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #111111;
}

.buye-option-container {
    width: 512px;
}

.buy-option-list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    flex-direction: column;
    margin-bottom: 32px;
}

.buy-option-item{
    background: #FFFFFF;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 15px;
        display: flex;
        align-items: center;
}

.buy-option-item {
    /* width: 160px; */
    padding-bottom: 18px;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

.buy-option-img {
    padding-bottom: 14px;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin: 24px 20px 14px 20px; */
}

.buy-option-button {
    padding: 8px 27px;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.personal-information {}

.label-personal-information {
    margin-bottom: 8px;
}

.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #000000;
}

.shape-personal-information {
    display: flex;
    flex-direction: column;
    gap: 18px;
   
    
}

.label-email {
    display: block;
}

.label-phone-number {
    display: block;
}

.label-card-number {
    display: block;
}

.label-comment {
    display: block;
}

::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.form-per-info {
    width: 246px;
    height: 66px;
    border-radius: 13px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
}

.form-per-card,
.form-per-phone,
.form-per-email {
    height: 66px;
    border-radius: 13px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
}

.form-input:focus {
    outline: transparent;
    border: 1px solid #FD9222;
}

.text-input {
    border-radius: 13px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
    resize: none;
    width: 100%;
    height: 137px;
}

.card-and-logomaster {
    display: flex;
    align-items: center;
    justify-content: center;
}



.label {
    margin-bottom: 8px;
}

.form-group {
    margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
.modal{
max-width: 609px;
}

.buy-option-list{
    flex-direction: row;
}

.shape-personal-information{
    flex-direction: row;
}

.buy-option-item {
    display: block;
    /* width: 160px; */
    padding-bottom: 18px;

}

.buy-option-button{
    display: block;
    margin: 0 auto;
}

 
}

