.backdrop{
    z-index: 999999999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        background-image: linear-gradient(rgba(46, 47, 66, 0.4), rgba(46, 47, 66, 0.4));
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal{
    position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 311px;
        background-color: #FFFFFF;
        opacity: 1;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    
        z-index: 9999999999;
        padding: 14px 14px 32px 24px;
}


@media (min-device-pixel-ratio: 1) and (min-width: 768px),
(min-resolution: 96dpi) and (min-width: 768px),
(min-resolution: 1dppx) and (min-width: 768px) {
    .subscriber {
        width: 100%;
        height: 370px;
        margin: 0 auto;
        padding-top: 72px;
        padding-bottom: 72px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(/images/subscriber/Subcribe-t-1x.jpg);
    }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px),
(min-resolution: 2dppx) and (min-width: 768px) {
    .subscriber {
        margin: 0 auto;
        padding-top: 72px;
        padding-bottom: 72px;
        background-position: center;
        background-size: cover;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(/images/subscriber/Subcribe-t-2x.jpg) no-repeat/768px 370px;
    }
}

@media screen and (min-width: 768px) {
    .subscriber-title {
        display: flex;
        width: 378px;
        height: 56px;
        margin: 0 auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        /* or 117% */
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .subscriber-text {
        display: flex;
        width: 467px;
        height: 72px;
        margin: 0 auto;
        margin-top: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        /* or 129% */
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .subscriber-button {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 40px;
        gap: 14px;
        width: 172px;
        height: 50px;
        margin: 0 auto;
        margin-top: 24px;
        border: none;
        background: #FD9222;
        border-radius: 100px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        /* identical to box height */
        color: #FFFFFF;
        /* Inside auto layout */
    }
}

.button {
    padding: 14px 40px;
    border-color: transparent;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17/14);
    background-color: #FD9222;
    color: #FAFAFA;
}

.buy-now-button {
    /* width: 162px; */
    height: 50px;
    color: #FFFFFF;
    background-color: #FD9222;
    transition: backgroung-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    transition: visibility 250ms linear, 100ms;
}

.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 100ms;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 609px;
 
    padding: 48px;
    background-color: #FAFAFA;
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear, 100ms;
}

.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    height: 28px;
    width: 28px;
    stroke: #111111;
    border: transparent;
    background-color: #FAFAFA;
}

.icon-close {
    stroke: #111111;
    height: 14px;
    width: 14px;
}

.title-buy {
    color: #FD9222;
}

.modal-title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: calc(28/24);
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #111111;
}

.buye-option-container {
    width: 512px;
}

.buy-option-list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
}

.buy-option-item {
    /* width: 160px; */
    padding-bottom: 18px;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
}

.buy-option-img {
    margin-bottom: 14px;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin: 24px 20px 14px 20px; */
}

.buy-option-button {
    margin-left: 32px;
    padding: 8px 27px;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.personal-information {}

.label-personal-information {
    margin-bottom: 8px;
}

.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #000000;
}

.shape-personal-information {
    display: flex;
    justify-content: space-between;
}

.label-email {
    display: block;
}

.label-phone-number {
    display: block;
}

.label-card-number {
    display: block;
}

.label-comment {
    display: block;
}

::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}

.form-per-info {
    width: 246px;
    height: 66px;
    border-radius: 13px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
}

.form-per-card,
.form-per-phone,
.form-per-email {
    height: 66px;
    border-radius: 13px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
}

.form-input:focus {
    outline: transparent;
    border: 1px solid #FD9222;
}

.text-input {
    border-radius: 13px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    background-color: rgba(0, 0, 0, 0.03);
    resize: none;
    width: 100%;
    height: 137px;
}

.card-and-logomaster {
    display: flex;
    align-items: center;
    justify-content: center;
}



.label {
    margin-bottom: 8px;
}

.form-group {
    margin-bottom: 18px;
}