.backdrop{
    z-index: 999999999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        background-image: linear-gradient(rgba(46, 47, 66, 0.4), rgba(46, 47, 66, 0.4));
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



@media (min-device-pixel-ratio: 1) and (min-width: 768px),
(min-resolution: 96dpi) and (min-width: 768px),
(min-resolution: 1dppx) and (min-width: 768px) {
    .subscriber {
        width: 100%;
        height: 370px;
        margin: 0 auto;
        padding-top: 72px;
        padding-bottom: 72px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(/images/subscriber/Subcribe-t-1x.jpg);
    }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px),
(min-resolution: 2dppx) and (min-width: 768px) {
    .subscriber {
        margin: 0 auto;
        padding-top: 72px;
        padding-bottom: 72px;
        background-position: center;
        background-size: cover;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(/images/subscriber/Subcribe-t-2x.jpg) no-repeat/768px 370px;
    }
}

@media screen and (min-width: 768px) {
    .subscriber-title {
        display: flex;
        width: 378px;
        height: 56px;
        margin: 0 auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        /* or 117% */
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .subscriber-text {
        display: flex;
        width: 467px;
        height: 72px;
        margin: 0 auto;
        margin-top: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        /* or 129% */
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .subscriber-button {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 40px;
        gap: 14px;
        width: 172px;
        height: 50px;
        margin: 0 auto;
        margin-top: 24px;
        border: none;
        background: #FD9222;
        border-radius: 100px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        flex-grow: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        /* identical to box height */
        color: #FFFFFF;
        /* Inside auto layout */
    }
}