@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    /* height: 478px; */
  }
  .work {
    width: 1200px;
    /* background: #e2e2e2; */
    padding: 0 32px;
  }
  .work-section-text {
    display: flex;
    flex-direction: none;
    width: 100%;
  }
  .work-section-block {
    width: 600px;
    height: 100%;
  }
  .work-photo-coffe {
    width: 600px;
  }
  .work-section {
    background: #ffffff;
    width: 100%;
  }
  .work-list-text{
    width: 350px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
  .text-markers {
  }
  .work-list {
    display: -webkit-box;
    border-radius: 15px;
    background: #FFFFFF;
    margin-top: 32px;
    padding-left: 0px;
  }
}
@media screen and (min-device-pixel-ratio: 1) and (min-width: 1200px),
  screen and (min-resolution: 96dpi) and (min-width: 1200px),
  screen and (min-resolution: 1dppx) and (min-width: 1200px) {
  .work-photo{
    width: 600px;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/cofee-descktop-1X.jpg);
    border-radius: 15px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .work-photo {
    width: 600px;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/cofee-descktop-2X.jpg);
    border-radius: 15px;
    background-repeat: no-repeat;
  }
}
