.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.hero {
  background-image: url(../images/hero/mobile-hero.jpg);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
  margin-left: 20px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/mobile-hero@2x.jpg);
  }
}

.hero-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding-top: 395px;
  margin-bottom: 32px;
}

.button-hero-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 28px;
  gap: 14px;
  background: #fd9222;
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;
}

.button-hero-main:focus,
.button-hero-main:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}

.button-hero-sec {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 28px;
  gap: 14px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  cursor: pointer;
  transition: color 250ms linear, border 250ms linear;
}

.button-hero-sec:focus,
.button-hero-sec:hover {
  color: #fd9222;
  border: 1px solid #fd9222;
}

.buttons-hero {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.hero-nav {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  padding-bottom: 20px;
}

.hero-nav-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.hero-nav-text:focus,
.hero-nav-text:hover {
  color: #fd9222;
}

.hero-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms linear, fill 250ms linear;
}

.hero-nav-item {
  width: 40px;
  height: 40px;
}

.hero-nav-link:focus,
.hero-nav-link:hover {
  background-color: #fd9222;
}

.hero-nav-link:focus .hero-icon-item,
.hero-nav-link:hover .hero-icon-item {
  fill: #ffffff;
}

.hero-button-icon {
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
}

.hero-icon {
  width: 16px;
  height: 16px;
}

.hero-icon-item {
  fill: #fd9222;
  transition: fill 250ms linear;
}

.hero-nav-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 32px;
  padding: 0;
  background-color: transparent;
  border: 0px solid transparent;
  color: #ffffff;
  cursor: pointer;
  transition: color 250ms linear;
}

.hero-nav-btn:focus,
.hero-nav-btn:hover {
  color: #fd9222;
}

.hero-nav-btn:focus .hero-icon-item,
.hero-nav-btn:hover .hero-icon-item {
  fill: #ffffff;
}

.hero-nav-btn:focus .hero-button-icon,
.hero-nav-btn:hover .hero-button-icon {
  background-color: #fd9222;
}
