@media screen and (max-width:1199px) {
   
     .mobile-menu {
        position: fixed;
        width: 58%;
        height: 100%;
        z-index: 1000;
        top: 0;
        left: 42%;
        background-color: #1E1823; 
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }


    .mobile-menu-link {

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;



    }

    .mobile-menu-link:active {
        color: #FD9222;
        
    }
        .mobile-menu-link:active::after {
            content: '';
            width: 50%;
            height: 1px;
            background-color: #FD9222;
            position: absolute;
            left: 0;
            bottom: -8px;
        } 
.mobile-social-link:active .mobile-menu-social-icon {
    stroke: #FD9222;
}
    

   

    .mobile-menu-item {
    margin-bottom: 40px;
    }


   .mobile-menu-list {
       
    display: block;
    margin-right: auto;
    margin-left: auto;

   }


    .mobile-menu-social-item {
        gap: 40px;
        
    }

    

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }

    .mobile-menu-container {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 156px 32px 24px 32px;
        display: flex;
        flex-direction: column;
        }


        .mobile-menu-social {
        margin-top: auto;
    }

    .mobile-menu-close-btn {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 20px;
        right: 20px;
      background-color: #1E1823;
        border-radius: 50%;
        border: none;
       
       
    }
        .mobile-menu-close-icon {
            fill: #fff;

        }

    .mobile-menu-social-list {
        display: flex;
        column-gap: 18px;

    }
        .mobile-menu-social-icon {
            fill: #111111;
            stroke: #ffffff;
            stroke-width: 1.5px;
            width: 22px;
            height: 22px;
    
    
        }

   

    

    

    .mobile-social-icon {
        fill: currentColor;
    }  
        .mobile-menu-open {
            background-color: #fff;
            border: none;
        }
        .menu-open-icon {
            fill: #111111;
                stroke-width: 2px;
        }
                }
                 @media screen and (min-width: 768px) {
                .mobile-menu {
                width: 37%;
                left: 63%;}
                    
            .menu-open-icon {
            width: 24px;
             height: 16px;
            stroke-width: 2.5px;
         }
        .mobile-menu-social-icon {
            
            stroke-width: 2px;
            width: 24px;
            height: 24px;
    
    
        }
        .mobile-menu-close-btn {
            width: 32px;
            height: 32px;
        }
        .mobile-menu-close-icon {
            width: 14px;
            height: 14px;
        }
        
        .mobile-social-link:is(:hover, :focus) {
            background-color: #FD9222;
        }
             
    .head-our-pro {
        display: block;
        display: none;
    }}

