/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import 'swiper/css/bundle';
@import url('./modal.css');
@import url('./header.css');
@import url('./section-5.css');
@import url('./section-5.css');
@import url('./tablet.css');
@import url('./descktop.css');
@import url('./advantages.css');
@import url('./unique.css');
@import url('./unique-mob.css');
@import url('./unique-tab.css');
@import url('./unique-desktop.css');
@import url('./mobilemenu.css');
@import url('./reviews.css');
@import url('./hero-mobile.css');
@import url('./hero-tablet.css');
@import url('./hero-desktop.css');
@import url('./top-sallers.css');
@import url('./top-sallers-mobile.css');
@import url('./top-sallers-tablet.css');
@import url('./top-sallers-desktop.css');
@import url('./fallback-our-products.css');
@import url('./subscriber.css');
@import url('./footer.css');

:root {
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --webkit-text-size-adjust: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
}


.container {

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}


@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    
  }
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}
