/* -------------------------------SECTION--------------------------------------- */
.top-sellers {
  padding-bottom: 155px;
}
.top-sellers-title {
  font-family: "Montserrat";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.section-title {
  color: #fd9222;
}
.mobile-title {
  width: 306px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}
.desktop-tablet-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}
.photo-img1,
.photo-img2,
.photo-img3 {
  width: 335px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.btn-sale {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fd9222;
  border-radius: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
}

.btn-sale:is(:hover, :focus, :active){
    outline: transparent;
    color: #FD9222;
    background-color: #fcf1e0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    bacground-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}
