@media screen and (max-width: 767px) {
  .container {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      margin: 0 auto;
    }
 
  .desktop-tablet-title {
    display: none;
  }
  .top-sellers-title {
    margin-bottom: 32px;
  }
  .btn-sale {
    margin: 0 auto;
    width: 120px;
    height: 41px;
  }
  .section-list-img-desktop,
  .section-list-img-tablet {
    display: none;
  }
}
