@media screen and (min-width: 1200px) {
  .container {
    width: 1136px;
  }
  .unique-container {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .unique-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 19px;
  }
  .unique-item:nth-of-type(2) {
    order: 1;
  }
  .unique-item:nth-of-type(4) {
    order: 3;
  }
  .unique-block {
    overflow: auto;
  }
  .unique-box-choco,
  .unique-box-milk,
  .unique-box-nuts,
  .unique-box-milkchoco {
    max-width: 270px;
  }
}
