/* .container {
  width: 100%;

  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
} */
.unique-container {
  padding-top: 72px;
  padding-bottom: 72px;
}
.unique-title {
  max-width: 283px;

  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;

  color: #111111;

  text-align: center;
}
.unique-caption {
  color: #fd9222;
}
.unique-text {
  max-width: 335px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;

  letter-spacing: -0.02em;
  text-align: center;

  color: #111111;
}
.unique-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.unique-item {
  transition: box-shadow 2250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;

  position: relative;
  overflow: hidden;
}
.unique-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  display: block;
}
.unique-lead {
  position: absolute;
  bottom: 28px;
  left: 28px;

  border-radius: 15px;
  color: #ffffff;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
}
.cap {
  color: #111111;
}
.unique-link:hover .unique-block {
  opacity: 1;
  transform: translate(0, 0);
}
.unique-link:focus .unique-block {
  opacity: 1;
  transform: translate(0, 0);
}

.unique-overlay {
  position: relative;
  overflow: hidden;
}
.unique-block {
  position: absolute;

  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;

  padding: 20px;
  transform: translate(0, 100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.unique-subject {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111111;
  margin-bottom: 8px;
}
.unique-desc {
  width: 100%;
  max-width: 230px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  letter-spacing: -0.02em;

  color: #111111;
  margin-top: 14px;
}

.button-box {
  display: flex;
}
.unique-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2px;

  color: #ffffff;
  background: #fd9222;
  border-radius: 35px;
  border: none;
  margin-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;

  display: inline-block;
  align-items: center;
  min-width: 81px;
  height: 24px;
  text-align: center;
}
.unique-button {
  max-width: 93px;
  height: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #fafafa;
  border: 1px solid #fd9222;
  border-radius: 35px;
}
.unique-box-choco {
  max-width: 335px;
  height: 270px;

  background: #fd9222;
  border-radius: 15px;
  position: relative;
}
.unique-box-milk {
  max-width: 335px;
  height: 270px;
  background: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 15px;
  position: relative;
}
.unique-box-nuts {
  max-width: 335px;
  height: 270px;
  background: #1e1823;
  border-radius: 15px;
  position: relative;
}
.unique-box-milkchoco {
  max-width: 335px;
  height: 270px;
  background: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 15px;
  position: relative;
}
.unique-lead-title {
  color: #111111;
  position: absolute;
  bottom: 28px;
  left: 28px;
  border-radius: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;

  letter-spacing: -0.02em;
}
